<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main class="product-items">
		<div class="banner-wrapper has_background">
			<img src="assets/images/banner-for-all2.jpg" class="img-responsive attachment-1920x447 size-1920x447"
				alt="img">
			<div class="banner-wrapper-inner">
				<h1 class="page-title">Sign in your account</h1>
				<div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
					<ul class="trail-items breadcrumb">
						<li class="trail-item trail-begin"><a href="javascript:void(0)l"><span>Home</span></a></li>
						<li class="trail-item trail-end active"><span>Sign in</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="site-main main-container no-sidebar">
			<div class="container">
				<div class="row">
					<div class="main-content col-md-12">
						<div class="page-main-content">
							<div class="nt">
								<div class="hs-notices-wrapper"></div>
								<div class="u-columns col2-set" id="customer_login">
									<div class="u-column1 col-1 w-100 px-5">
										<h2>Login</h2>
										<form class="hs-form hs-form-login login" th:object="${customer}"
											th:action="@{/auth/login}" method="post">
											<span th:text="${message}"></span>
											<p class="hs-form-row hs-form-row--wide form-row form-row-wide">
												<label>Username&nbsp;<span class="required">*</span></label>
												<input type="text" class="hs-Input hs-Input--text input-text"
													th:field="*{username}" placeholder="Enter your username" required>
											</p>
											<p class="hs-form-row hs-form-row--wide form-row form-row-wide">
												<label>Password&nbsp;<span class="required">*</span></label>
												<input class="hs-Input hs-Input--text input-text" type="password"
													th:field="*{password}" placeholder="Enter your password" required>
											</p>
											<p class="form-row">
												<button type="submit" class="hs-Button button">Log in</button>
												<label class="hs-form__label hs-form__label-for-checkbox inline">
													<input class="hs-form__input hs-form__input-checkbox"
														type="checkbox" name="remember-me">
													<span>Remember me</span>
												</label>
											</p>
											<p class="hs-LostPassword lost_password">
												<a th:href="@{/auth/forgot-password}">Lost your password?</a>
											</p>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>