<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<main class="product-items">
    <div class="banner-wrapper has_background">
        <img src="assets/images/banner-for-all2.jpg" class="img-responsive attachment-1920x447 size-1920x447"
             alt="img">
        <div class="banner-wrapper-inner">
            <h1 class="page-title">Order Information</h1>
            <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                <ul class="trail-items breadcrumb">
                    <li class="trail-item trail-begin"><a href="javascript:void(0)l"><span>Home</span></a></li>
                    <li class="trail-item trail-end active"><span>Order Details</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container my-3" th:object="${order}">
        <div class="account-form-wrap" style="padding: 0; box-shadow: none;">
            <div class="login-form">
                <div class="bg-dark text-white p-3">ORDER INFORMATION</div>
                <div class="row mt-2">
                    <div class="form-group col-sm-4">
                        <label class="form-label">Order Number:</label>
                        <input th:field="*{id}" class="form-control" disabled>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="form-label">Purchase:</label>
                        <input th:field="*{customer.username}" class="form-control" disabled>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="form-label">Purchased Date:</label>
                        <input th:field="*{orderDate}" class="form-control" disabled>
                    </div>
                    <div class="form-group col-sm-12 mb-3">
                        <label class="form-label">Status:</label>
                        <input th:field="*{status}" class="form-control" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-main main-container no-sidebar py-3">
            <div class="container">
                <div class="row">
                    <div class="main-content col-md-12 p-0">
                        <div class="page-main-content">
                            <div class="nt">
                                <div class="hs-notices-wrapper"></div>
                                <div class="bg-dark text-white p-3">ORDER DETAILS</div>
                                <div class="hs-cart-form">
                                    <table class="shop_table shop_table_responsive cart hs-cart-form__contents"
                                           cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="detail:*{order_details}" th:object="${detail}">
                                            <td class="align-middle">[[*{product.id}]]</td>
                                            <td class="align-middle">[[*{product.name}]]</td>
                                            <td class="align-middle">[[*{#numbers.formatDecimal(listPrice,0,'COMMA',0,'POINT')}]]₫</td>
                                            <td class="align-middle">[[*{quantity}]]</td>
                                            <td class="align-middle">[[*{#numbers.formatDecimal(listPrice*quantity,0,'COMMA',0,'POINT')}]]₫</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a th:href="@{/order/list}" class="btn btn-sm btn-dark">Back to Your order</a>
    </div>
</main>
</body>
</html>