<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<main class="product-items">
    <div class="banner-wrapper has_background">
        <img src="assets/images/banner-for-all2.jpg" class="img-responsive attachment-1920x447 size-1920x447"
             alt="img">
        <div class="banner-wrapper-inner">
            <h1 class="page-title">Your Orders</h1>
            <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                <ul class="trail-items breadcrumb">
                    <li class="trail-item trail-begin"><a href="javascript:void(0)l"><span>Home</span></a></li>
                    <li class="trail-item trail-end active"><span>Your Orders</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="site-main main-container no-sidebar">
        <div class="container">
            <div class="row">
                <div class="main-content col-md-12">
                    <div class="page-main-content">
                        <div class="nt">
                            <div class="hs-notices-wrapper"></div>
                            <div class="bg-dark text-white p-3">MY PURCHASES AND ORDERS</div>
                            <div class="hs-cart-form">
                                <table class="shop_table shop_table_responsive cart hs-cart-form__contents"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th class="text-center">No.</th>
                                        <th>Order No.</th>
                                        <th>Order Date</th>
                                        <th>Status</th>
                                        <th class="text-center">#</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order,state : *{orders}">
                                        <td class="align-middle text-center">[[${state.index}+1]]</td>
                                        <td class="align-middle text-center">[[${order.id}]]</td>
                                        <td class="align-middle text-center">[[${order.orderDate}]]</td>
                                        <td class="align-middle text-center">[[${order.status}]]</td>
                                        <td class="align-middle text-center">
                                            <a th:href="@{|/order/detail/${order.id}|}"
                                               class="btn btn-sm btn-default border-0"
                                               title="View your Order Details">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>