<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Danh sách người dùng</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Trang chủ</li>
                            <li class="breadcrumb-item">Người dùng</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row my-3">
                        <div class="col-sm-6 form-inline justify-content-start">
                            <label class="pr-2">Tìm kiếm:</label>
                            <input type="text" class="form-control" ng-model="search" placeholder="Nhập tìm kiếm..." />
                        </div>
                        <div class="col-sm-6 form-inline justify-content-end">
                            <label class="pr-2">Tìm kiếm:</label>
                            <input type="text" class="form-control" ng-model="search" placeholder="Nhập tìm kiếm..." />
                        </div>
                    </div>
                    <table class="table table-bordered" data-paging="true" data-filtering="true">
                        <thead>
                            <tr>
                                <th class="d-none">ID người dùng</th>
                                <th>Tên người dùng</th>
                                <th>Họ và tên</th>
                                <th>Điện thoại</th>
                                <th>Email</th>
                                <th>Ngày sinh</th>
                                <th>Đường</th>
                                <th>Thành phố</th>
                                <th>Image</th>
                                <th>Token</th>
                                <th>Tuỳ chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in listCustomer | filter:search">
                                <td class="d-none">{{item.id}}</td>
                                <td>{{item.username}}</td>
                                <td>{{item.fullname}}</td>
                                <td>{{item.phone}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.birthday | date:"dd-MM-yyyy"}}</td>
                                <td>{{item.street }}</td>
                                <td>{{item.city}}</td>
                                <td>{{item.image}}</td>
                                <td>{{item.token}}</td>
                                <td >
                                    <a  ng-click="doilink(item)" style="cursor: pointer;">
                                        <i class="bx bx-edit-alt me-1"></i> Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6 ">Đang xem <b>{{curPage}}</b> đến <b>{{itemsPerPage}}</b> trong tổng số
                            <b>{{items.length}}</b> mục
                        </div>
                        <div class="col-sm-6 pagination-sm" uib-pagination total-items="items.length" max-size="maxSize"
                            ng-model="curPage" rotate="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>