<div class="banner-wrapper has_background">
    <img src="assets/images/banner-for-all2.jpg" class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">My Account</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="javascript:void(0)l"><span>Home</span></a></li>
                <li class="trail-item trail-end active"><span>My Account</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<main class="site-main  main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <div class="furgan">
                        <div class="hs-notices-wrapper"></div>
                        <div class="u-columns col2-set" id="customer_login">
                            <div class="u-column1 col-1">
                                <h2>Login</h2>
                                <form class="hs-form hs-form-login login" method="post">
                                    <p class="hs-form-row hs-form-row--wide form-row form-row-wide">
                                        <label for="username">Username or email adchair&nbsp;<span
                                                class="required">*</span></label>
                                        <input type="text" class="hs-Input hs-Input--text input-text" name="username"
                                            id="username" autocomplete="username" value="">
                                    </p>
                                    <p class="hs-form-row hs-form-row--wide form-row form-row-wide">
                                        <label for="password">Password&nbsp;<span class="required">*</span></label>
                                        <input class="hs-Input hs-Input--text input-text" type="password"
                                            name="password" id="password" autocomplete="current-password">
                                    </p>
                                    <p class="form-row">
                                        <input type="hidden" id="hs-login-nonce" name="hs-login-nonce"
                                            value="832993cb93"><input type="hidden" name="_wp_http_referer"
                                            value="/furgan/my-account/">
                                        <button type="submit" class="hs-Button button" name="login" value="Log in">Log
                                            in
                                        </button>
                                        <label class="hs-form__label hs-form__label-for-checkbox inline">
                                            <input class="hs-form__input hs-form__input-checkbox" name="rememberme"
                                                type="checkbox" id="rememberme" value="forever">
                                            <span>Remember me</span>
                                        </label>
                                    </p>
                                    <p class="hs-LostPassword lost_password">
                                        <a href="my-account.htmllost-password/">Lost your
                                            password?</a>
                                    </p>
                                </form>
                            </div>
                            <div class="u-column2 col-2">
                                <h2>Register</h2>
                                <form method="post" class="hs-form hs-form-register register">
                                    <p class="hs-form-row hs-form-row--wide form-row form-row-wide">
                                        <label for="reg_email">Email adchair&nbsp;<span
                                                class="required">*</span></label>
                                        <input type="email" class="hs-Input hs-Input--text input-text" name="email"
                                            id="reg_email" autocomplete="email" value="">
                                    </p>
                                    <div class="hs-privacy-policy-text">
                                        <p>Your personal data will be used to
                                            support your experience throughout this website, to manage access to
                                            your
                                            account, and for other purposes described in our <a href="#"
                                                class="hs-privacy-policy-link" target="_blank">privacy policy</a>.
                                        </p>
                                    </div>
                                    <p class="hs-FormRow form-row">
                                        <input type="hidden" id="hs-register-nonce" name="hs-register-nonce"
                                            value="45fae70a87"><input type="hidden" name="_wp_http_referer"
                                            value="/furgan/my-account/">
                                        <button type="submit" class="hs-Button button" name="register"
                                            value="Register">Register
                                        </button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>