<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main class="product-items">
		<div class="banner-wrapper has_background">
			<img src="assets/images/banner-for-all2.jpg" class="img-responsive attachment-1920x447 size-1920x447"
				alt="img">
			<div class="banner-wrapper-inner">
				<h1 class="page-title">Cart</h1>
				<div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
					<ul class="trail-items breadcrumb">
						<li class="trail-item trail-begin"><a href="javascript:void(0)l"><span>Home</span></a></li>
						<li class="trail-item trail-end active"><span>Cart</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="site-main main-container no-sidebar">
			<div class="container">
				<div class="row">
					<div class="main-content col-md-12">
						<div class="page-main-content">
							<div class="nt">
								<div class="hs-notices-wrapper"></div>
								<form class="hs-cart-form">
									<table class="shop_table shop_table_responsive cart hs-cart-form__contents"
										cellspacing="0">
										<thead>
											<tr>
												<th class="product-remove">&nbsp;</th>
												<th class="product-thumbnail">&nbsp;</th>
												<th class="product-name">Product</th>
												<th class="product-price">Price</th>
												<th class="product-quantity">Quantity</th>
												<th class="product-subtotal">Total</th>
											</tr>
										</thead>
										<tbody>
											<tr class="hs-cart-form__cart-item cart_item"
												ng-repeat="item in cart.items">
												<td class="product-remove">
													<a href="javascript:void(0);" class="remove"
														aria-label="Remove this item"
														ng-click="cart.remove(item.id)">×</a>
												</td>
												<td class="product-thumbnail">
													<a href="javascript:void(0);"><img
															ng-src="assets/images/products/{{item.image}}"
															class="attachment-hs_thumbnail size-hs_thumbnail" alt="img"
															width="600" height="778"></a>
												</td>
												<td class="product-name" data-title="Product">
													<a href="javascript:void(0);">{{item.name}}</a>
												</td>
												<td class="product-price" data-title="Price">
													<span class="hs-Price-amount amount">
														{{item.listPrice | number:0}}<span
															class="hs-Price-currencySymbol">₫</span>
													</span>
												</td>
												<td class="product-quantity" data-title="Quantity">
													<div class="quantity">
														<span class="qty-label">Quantiy:</span>
														<div class="control">
															<a class="btn-number qtyminus quantity-minus"
																href="javascript:void(0);">-</a>
															<input type="number" pattern="[0-9]*" id="spinner"
																name="value" value="1" min="1" max="100" step="1"
																ng-change="cart.saveToLocalStorage()"
																ng-model="item.qty"
																class="input-qty input-text qty text">
															<a class="btn-number qtyplus quantity-plus"
																href="javascript:void(0);">+</a>
														</div>
													</div>
												</td>
												<td class="product-subtotal" data-title="Total">
													<span class="hs-Price-amount amount">
														{{item.qty*item.listPrice | number:0}}
														<span class="hs-Price-currencySymbol">₫</span>
													</span>
												</td>
											</tr>
											<tr>
												<td colspan="6" class="actions">
													<div class="coupon">
														<label for="coupon_code">Coupon:</label>
														<input type="text" class="input-text" placeholder="Coupon code">
														<button type="submit" class="button" value="Apply coupon">
															Apply coupon
														</button>
													</div>
													<button type="submit" class="button" ng-click="cart.clear()">
														Clear cart
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</form>
								<div class="cart-collaterals">
									<div class="cart_totals ">
										<h2>Cart totals</h2>
										<table class="shop_table shop_table_responsive" cellspacing="0">
											<tbody>
												<tr class="cart-subtotal">
													<th>Subtotal</th>
													<td data-title="Subtotal">
														<span class="hs-Price-amount amount">
															{{cart.amount | number : 0}}
															<span class="hs-Price-currencySymbol">₫</span>
														</span>
													</td>
												</tr>
												<tr class="order-total">
													<th>Total</th>
													<td data-title="Total">
														<strong>
															<span class="hs-Price-amount amount">
																{{cart.amount | number : 0}}
																<span class="hs-Price-currencySymbol">₫</span>
															</span>
														</strong>
													</td>
												</tr>
											</tbody>
										</table>
										<div class="hs-proceed-to-checkout">
											<a th:href="@{/cart/checkout}"
												class="checkout-button button alt hs-forward">
												Proceed to checkout</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>