<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../static/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/plugins.min.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/icon.min.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/css/style.min.css" rel="stylesheet" type="text/css">
    <title>H Furniture – Hệ thống bán hàng đồ nội thất</title>
</head>

<body>
<header class="header style-02 header-dark" id="header">
    <div class="header-wrap-stick">
        <div class="header-position">
            <div class="header-middle">
                <div class="hs-menu-wapper"></div>
                <div class="header-middle-inner">
                    <div class="header-search-menu">
                        <div class="block-menu-bar">
                            <a class="menu-bar menu-toggle" href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                    <div class="header-logo-nav">
                        <div class="header-logo">
                            <a href="index.html">
                                <img alt="Furgan" class="logo" src="../static/assets/images/logo.png">
                            </a>
                        </div>
                        <div class="box-header-nav menu-nocenter">
                            <ul class="clone-main-menu hs-clone-mobile-menu hs-nav main-menu"
                                id="menu-primary-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-230" id="menu-item-230">
                                    <a class="hs-menu-item-title" href="index.html" title="Home">Home</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-229" id="menu-item-229">
                                    <a class="hs-menu-item-title" href="shop.html" title="Shop">Shop</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-228 parent parent-megamenu item-megamenu menu-item-has-children"
                                    id="menu-item-228">
                                    <a class="hs-menu-item-title" href="javascript:void(0);"
                                       title="Category">Category</a>
                                    <span class="toggle-submenu"></span>
                                    <div class="submenu megamenu megamenu-shop">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="hs-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">Shop Layouts </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a href="#" target="_self">Shop Grid </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">
                                                                    Shop List
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">No Sidebar </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">Left
                                                                    Sidebar </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">Right
                                                                    Sidebar </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="hs-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">Product Layouts </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a href="#" target="_self">Vertical
                                                                    Thumbnails </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">
                                                                    Extra Sidebar
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">
                                                                    Right Sidebar </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">
                                                                    Left Sidebar </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="hs-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">
                                                            Product Extends </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a href="#" target="_self">
                                                                    Product Bundle
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">
                                                                    Product 360 Deg </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">
                                                                    Video </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="hs-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">
                                                            Other Pages </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a href="#">Cart </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">Wishlist </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">Checkout </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">Order
                                                                    Tracking </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">My Account </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="hs-listitem style-01">
                                                    <div class="listitem-inner">
                                                        <h4 class="title">
                                                            Product Types </h4>
                                                        <ul class="listitem-list">
                                                            <li>
                                                                <a href="#" target="_self">
                                                                    Simple </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">
                                                                    Variable </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">
                                                                    External / Affiliate </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">
                                                                    Grouped </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">
                                                                    Out Of Stock </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_self">
                                                                    On Sale </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-996" id="menu-item-996">
                                    <a class="hs-menu-item-title" href="blog.html" title="Blog">Blog</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-237 parent"
                                    id="menu-item-237">
                                    <a class="hs-menu-item-title" href="javascript:void(0);" title="Pages">Pages</a>
                                    <span class="toggle-submenu"></span>
                                    <ul class="submenu" role="menu">
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-987"
                                            id="menu-item-987">
                                            <a class="hs-menu-item-title" href="about.html" title="About">About</a>
                                        </li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-988"
                                            id="menu-item-988">
                                            <a class="hs-menu-item-title" href="contact.html"
                                               title="Contact">Contact</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-control">
                        <div class="header-control-inner">
                            <div class="meta-dreaming">
                                <ul class="wpml-menu">
                                    <li class="menu-item hs-dropdown block-language">
                                        <a data-hs="hs-dropdown" href="#">
                                            <img alt="en" src="../static/assets/images/en.png">
                                            English
                                        </a>
                                        <span class="toggle-submenu"></span>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="#">
                                                    <img alt="it" src="../static/assets/images/it.png">
                                                    Italiano
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="header-search hs-dropdown">
                                    <div class="header-search-inner" data-hs="hs-dropdown">
                                        <a class="link-dropdown block-link" href="#">
                                            <span class="flaticon-magnifying-glass-1"></span>
                                        </a>
                                    </div>
                                    <div class="block-search">
                                        <form class="form-search block-search-form hs-live-search-form" method="get"
                                              role="search">
                                            <div class="form-content search-box results-search">
                                                <div class="inner">
                                                    <input autocomplete="off"
                                                           class="searchfield txt-livesearch input" name="s" placeholder="Search here..."
                                                           type="text" value="">
                                                </div>
                                            </div>
                                            <div class="category">
                                                <select class="category-search-option" name="product_cat"
                                                        title="product_cat">
                                                    <option value="0">All Categories</option>
                                                    <option class="level-0" value="light">Light</option>
                                                    <option class="level-0" value="chair">Chair</option>
                                                    <option class="level-0" value="table">Table</option>
                                                    <option class="level-0" value="bed">Bed</option>
                                                    <option class="level-0" value="new-arrivals">New arrivals
                                                    </option>
                                                    <option class="level-0" value="lamp">Lamp</option>
                                                    <option class="level-0" value="specials">Specials</option>
                                                    <option class="level-0" value="sofas">Sofas</option>
                                                </select>
                                            </div>
                                            <button class="btn-submit" type="submit">
                                                <span class="flaticon-magnifying-glass-1"></span>
                                            </button>
                                        </form><!-- block search -->
                                    </div>
                                </div>
                                <div class="hs-dropdown-close">x</div>
                                <div class="menu-item block-user block-dreaming hs-dropdown">
                                    <a class="block-link" href="#">
                                        <span class="flaticon-profile"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li
                                                class="menu-item hs-myaccount-navigation-link hs-myaccount-navigation-link--dashboard is-active">
                                            <a href="#">Dashboard</a>
                                        </li>
                                        <li
                                                class="menu-item hs-myaccount-navigation-link hs-myaccount-navigation-link--orders">
                                            <a href="#">Orders</a>
                                        </li>
                                        <li
                                                class="menu-item hs-myaccount-navigation-link hs-myaccount-navigation-link--downloads">
                                            <a href="#">Downloads</a>
                                        </li>
                                        <li
                                                class="menu-item hs-myaccount-navigation-link hs-myaccount-navigation-link--edit-adchair">
                                            <a href="#">Address</a>
                                        </li>
                                        <li
                                                class="menu-item hs-myaccount-navigation-link hs-myaccount-navigation-link--edit-account">
                                            <a href="#">Account details</a>
                                        </li>
                                        <li
                                                class="menu-item hs-myaccount-navigation-link hs-myaccount-navigation-link--customer-logout">
                                            <a href="#">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="block-minicart block-dreaming hs-mini-cart hs-dropdown">
                                    <div class="shopcart-dropdown block-cart-link" data-hs="hs-dropdown">
                                        <a class="block-link link-dropdown" href="#">
                                            <span class="flaticon-cart"></span>
                                            <span class="count">3</span>
                                        </a>
                                    </div>
                                    <div class="widget furgan widget_shopping_cart">
                                        <div class="widget_shopping_cart_content">
                                            <ul class="hs-mini-cart cart_list product_list_widget">
                                                <li class="hs-mini-cart-item mini_cart_item">
                                                    <a class="remove remove_from_cart_button" href="#">×</a>
                                                    <a href="#">
                                                        <img alt="img"
                                                             class="attachment-hs_thumbnail size-hs_thumbnail"
                                                             height="778" src="../static/assets/images/apro134-1-600x778.jpg" width="600">T-shirt with skirt –
                                                        Pink&nbsp;
                                                    </a>
                                                    <span class="quantity">1 × <span
                                                            class="hs-Price-amount amount"><span
                                                            class="hs-Price-currencySymbol">$</span>150.00</span></span>
                                                </li>
                                                <li class="hs-mini-cart-item mini_cart_item">
                                                    <a class="remove remove_from_cart_button" href="#">×</a>
                                                    <a href="#">
                                                        <img alt="img"
                                                             class="attachment-hs_thumbnail size-hs_thumbnail"
                                                             height="778" src="../static/assets/images/apro1113-600x778.jpg" width="600">Alarm Clock&nbsp;
                                                    </a>
                                                    <span class="quantity">1 × <span
                                                            class="hs-Price-amount amount"><span
                                                            class="hs-Price-currencySymbol">$</span>129.00</span></span>
                                                </li>
                                                <li class="hs-mini-cart-item mini_cart_item">
                                                    <a class="remove remove_from_cart_button" href="#">×</a>
                                                    <a href="#">
                                                        <img alt="img"
                                                             class="attachment-hs_thumbnail size-hs_thumbnail"
                                                             height="778" src="../static/assets/images/apro201-1-600x778.jpg" width="600">Chair AAC&nbsp;
                                                    </a>
                                                    <span class="quantity">1 × <span
                                                            class="hs-Price-amount amount"><span
                                                            class="hs-Price-currencySymbol">$</span>139.00</span></span>
                                                </li>
                                            </ul>
                                            <p class="hs-mini-cart__total total"><strong>Subtotal:</strong>
                                                <span class="hs-Price-amount amount"><span
                                                        class="hs-Price-currencySymbol">$</span>418.00</span>
                                            </p>
                                            <p class="hs-mini-cart__buttons buttons">
                                                <a class="button hs-forward" href="cart.html">View cart</a>
                                                <a class="button checkout hs-forward"
                                                   href="checkout.html">Checkout</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mobile">
        <div class="header-mobile-left">
            <div class="block-menu-bar">
                <a class="menu-bar menu-toggle" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="header-search hs-dropdown">
                <div class="header-search-inner" data-hs="hs-dropdown">
                    <a class="link-dropdown block-link" href="#">
                        <span class="flaticon-magnifying-glass-1"></span>
                    </a>
                </div>
                <div class="block-search">
                    <form class="form-search block-search-form hs-live-search-form" method="get" role="search">
                        <div class="form-content search-box results-search">
                            <div class="inner">
                                <input autocomplete="off" class="searchfield txt-livesearch input" name="s" placeholder="Search here..."
                                       type="text" value="">
                            </div>
                        </div>
                        <div class="category">
                            <select class="category-search-option" name="product_cat" title="product_cat">
                                <option value="0">All Categories</option>
                                <option class="level-0" value="light">Light</option>
                                <option class="level-0" value="chair">Chair</option>
                                <option class="level-0" value="table">Table</option>
                                <option class="level-0" value="bed">Bed</option>
                                <option class="level-0" value="new-arrivals">New arrivals</option>
                                <option class="level-0" value="lamp">Lamp</option>
                                <option class="level-0" value="specials">Specials</option>
                                <option class="level-0" value="sofas">Sofas</option>
                            </select>
                        </div>
                        <button class="btn-submit" type="submit">
                            <span class="flaticon-magnifying-glass-1"></span>
                        </button>
                    </form><!-- block search -->
                </div>
            </div>
            <ul class="wpml-menu">
                <li class="menu-item hs-dropdown block-language">
                    <a data-hs="hs-dropdown" href="#">
                        <img alt="en" src="../static/assets/images/en.png">
                        English
                    </a>
                    <span class="toggle-submenu"></span>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="#">
                                <img alt="it" src="../static/assets/images/it.png">
                                Italiano
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <div class="wcml-dropdown product wcml_currency_switcher">
                        <ul>
                            <li class="wcml-cs-active-currency">
                                <a class="wcml-cs-item-toggle">USD</a>
                                <ul class="wcml-cs-submenu">
                                    <li>
                                        <a>EUR</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header-mobile-mid">
            <div class="header-logo">
                <a href="index.html"><img alt="Furgan" class="logo" src="../static/assets/images/logo.png"></a>
            </div>
        </div>
        <div class="header-mobile-right">
            <div class="header-control-inner">
                <div class="meta-dreaming">
                    <div class="menu-item block-user block-dreaming hs-dropdown">
                        <a class="block-link" href="#">
                            <span class="flaticon-profile"></span>
                        </a>
                        <ul class="sub-menu">
                            <li
                                    class="menu-item hs-myaccount-navigation-link hs-myaccount-navigation-link--dashboard is-active">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="menu-item hs-myaccount-navigation-link hs-myaccount-navigation-link--orders">
                                <a href="#">Orders</a>
                            </li>
                            <li
                                    class="menu-item hs-myaccount-navigation-link hs-myaccount-navigation-link--downloads">
                                <a href="#">Downloads</a>
                            </li>
                            <li
                                    class="menu-item hs-myaccount-navigation-link hs-myaccount-navigation-link--edit-adchair">
                                <a href="#">Address</a>
                            </li>
                            <li
                                    class="menu-item hs-myaccount-navigation-link hs-myaccount-navigation-link--edit-account">
                                <a href="#">Account details</a>
                            </li>
                            <li
                                    class="menu-item hs-myaccount-navigation-link hs-myaccount-navigation-link--customer-logout">
                                <a href="#">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="block-minicart block-dreaming hs-mini-cart hs-dropdown">
                        <div class="shopcart-dropdown block-cart-link" data-hs="hs-dropdown">
                            <a class="block-link link-dropdown" href="#">
                                <span class="flaticon-cart"></span>
                                <span class="count">3</span>
                            </a>
                        </div>
                        <div class="widget furgan widget_shopping_cart">
                            <div class="widget_shopping_cart_content">
                                <ul class="hs-mini-cart cart_list product_list_widget">
                                    <li class="hs-mini-cart-item mini_cart_item">
                                        <a class="remove remove_from_cart_button" href="#">×</a>
                                        <a href="#">
                                            <img alt="img"
                                                 class="attachment-hs_thumbnail size-hs_thumbnail" height="778"
                                                 src="../static/assets/images/apro134-1-600x778.jpg" width="600">T-shirt with skirt – Pink&nbsp;
                                        </a>
                                        <span class="quantity">1 × <span class="hs-Price-amount amount"><span
                                                class="hs-Price-currencySymbol">$</span>150.00</span></span>
                                    </li>
                                    <li class="hs-mini-cart-item mini_cart_item">
                                        <a class="remove remove_from_cart_button" href="#">×</a>
                                        <a href="#">
                                            <img alt="img"
                                                 class="attachment-hs_thumbnail size-hs_thumbnail" height="778"
                                                 src="../static/assets/images/apro1113-600x778.jpg" width="600">Alarm Clock&nbsp;
                                        </a>
                                        <span class="quantity">1 × <span class="hs-Price-amount amount"><span
                                                class="hs-Price-currencySymbol">$</span>129.00</span></span>
                                    </li>
                                    <li class="hs-mini-cart-item mini_cart_item">
                                        <a class="remove remove_from_cart_button" href="#">×</a>
                                        <a href="#">
                                            <img alt="img"
                                                 class="attachment-hs_thumbnail size-hs_thumbnail" height="778"
                                                 src="../static/assets/images/apro201-1-600x778.jpg" width="600">Chair AAC&nbsp;
                                        </a>
                                        <span class="quantity">1 × <span class="hs-Price-amount amount"><span
                                                class="hs-Price-currencySymbol">$</span>139.00</span></span>
                                    </li>
                                </ul>
                                <p class="hs-mini-cart__total total"><strong>Subtotal:</strong>
                                    <span class="hs-Price-amount amount"><span
                                            class="hs-Price-currencySymbol">$</span>418.00</span>
                                </p>
                                <p class="hs-mini-cart__buttons buttons">
                                    <a class="button hs-forward" href="cart.html">View cart</a>
                                    <a class="button checkout hs-forward" href="checkout.html">Checkout</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="banner-wrapper has_background">
    <img alt="img" class="img-responsive attachment-1920x447 size-1920x447"
         src="../static/assets/images/banner-for-all2.jpg">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">Wishlist</h1>
        <div aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs" role="navigation">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="index.html"><span>Home</span></a></li>
                <li class="trail-item trail-end active"><span>Wishlist</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<main class="site-main  main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <form class="furgan" id="yith-wcwl-form">
                        <!-- TITLE -->
                        <!-- WISHLIST TABLE -->
                        <table class="shop_table cart wishlist_table" data-id="" data-page="1"
                               data-pagination="no" data-per-page="5" data-token="">
                            <thead>
                            <tr>
                                <th class="product-remove"></th>
                                <th class="product-thumbnail"></th>
                                <th class="product-name">
                                    <span class="nobr">Product Name</span>
                                </th>
                                <th class="product-price">
                                            <span class="nobr">
                                                Unit Price </span>
                                </th>
                                <th class="product-stock-status">
                                            <span class="nobr">
                                                Stock Status </span>
                                </th>
                                <th class="product-add-to-cart"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-row-id="29" id="yith-wcwl-row-29">
                                <td class="product-remove">
                                    <div>
                                        <a class="remove remove_from_wishlist" href="#"
                                           title="Remove this product">×</a>
                                    </div>
                                </td>
                                <td class="product-thumbnail">
                                    <a href="#">
                                        <img alt="img"
                                             class="attachment-hs_thumbnail size-hs_thumbnail" height="778"
                                             src="../static/assets/images/apro1113-600x778.jpg" width="600"> </a>
                                </td>
                                <td class="product-name">
                                    <a href="#">Short Sleeve
                                        Loose</a>
                                    <a class="button yith-wcqv-button" data-product_id="29" href="#">Quick
                                        View</a>
                                </td>
                                <td class="product-price">
                                            <span class="hs-Price-amount amount"><span
                                                    class="hs-Price-currencySymbol">$</span>129.00</span>
                                </td>
                                <td class="product-stock-status">
                                    <span class="wishlist-in-stock">In Stock</span>
                                </td>
                                <td class="product-add-to-cart">
                                    <!-- Date added -->
                                    <!-- Add to cart button -->
                                    <a aria-label="Add “Alarm Clock” to your cart" class="button product_type_simple add_to_cart_button ajax_add_to_cart add_to_cart button alt"
                                       data-product_id="29"
                                       data-product_sku="003D754" data-quantity="1"
                                       href="#" rel="nofollow"> Add to
                                        Cart</a>
                                    <!-- Change wishlist -->
                                    <!-- Remove from wishlist -->
                                </td>
                            </tr>
                            <tr data-row-id="25" id="yith-wcwl-row-25">
                                <td class="product-remove">
                                    <div>
                                        <a class="remove remove_from_wishlist" href="#"
                                           title="Remove this product">×</a>
                                    </div>
                                </td>
                                <td class="product-thumbnail">
                                    <a href="#">
                                        <img alt="img"
                                             class="attachment-hs_thumbnail size-hs_thumbnail" height="778"
                                             src="../static/assets/images/apro151-1-600x778.jpg" width="600"> </a>
                                </td>
                                <td class="product-name">
                                    <a href="#">Office Chair</a>
                                    <a class="button yith-wcqv-button" data-product_id="25" href="#">Quick
                                        View</a>
                                </td>
                                <td class="product-price">
                                    <del><span class="hs-Price-amount amount"><span
                                            class="hs-Price-currencySymbol">$</span>89.00</span></del>
                                    <ins><span class="hs-Price-amount amount"><span
                                            class="hs-Price-currencySymbol">$</span>79.00</span></ins>
                                </td>
                                <td class="product-stock-status">
                                    <span class="wishlist-in-stock">In Stock</span>
                                </td>
                                <td class="product-add-to-cart">
                                    <!-- Date added -->
                                    <!-- Add to cart button -->
                                    <a aria-label="Add “Office Chair” to your cart" class="button product_type_simple add_to_cart_button ajax_add_to_cart add_to_cart button alt"
                                       data-product_id="25"
                                       data-product_sku="018Q711" data-quantity="1"
                                       href="#" rel="nofollow"> Add to
                                        Cart</a>
                                    <!-- Change wishlist -->
                                    <!-- Remove from wishlist -->
                                </td>
                            </tr>
                            <tr data-row-id="22" id="yith-wcwl-row-22">
                                <td class="product-remove">
                                    <div>
                                        <a class="remove remove_from_wishlist" href="#"
                                           title="Remove this product">×</a>
                                    </div>
                                </td>
                                <td class="product-thumbnail">
                                    <a href="#">
                                        <img alt="img"
                                             class="attachment-hs_thumbnail size-hs_thumbnail" height="778"
                                             src="../static/assets/images/apro181-2-600x778.jpg" width="600"> </a>
                                </td>
                                <td class="product-name">
                                    <a href="#">Wall Lamp</a>
                                    <a class="button yith-wcqv-button" data-product_id="22" href="#">Quick
                                        View</a>
                                </td>
                                <td class="product-price">
                                            <span class="hs-Price-amount amount"><span
                                                    class="hs-Price-currencySymbol">$</span>98.00</span>
                                </td>
                                <td class="product-stock-status">
                                    <span class="wishlist-in-stock">In Stock</span>
                                </td>
                                <td class="product-add-to-cart">
                                    <!-- Date added -->
                                    <!-- Add to cart button -->
                                    <a aria-label="Add “Wall Lamp” to your cart" class="button product_type_simple add_to_cart_button ajax_add_to_cart add_to_cart button alt"
                                       data-product_id="22"
                                       data-product_sku="389N100" data-quantity="1"
                                       href="#" rel="nofollow"> Add to
                                        Cart</a>
                                    <!-- Change wishlist -->
                                    <!-- Remove from wishlist -->
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer style-01" id="footer">
    <div class="section-001 section-015">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="logo-footer">
                        <img alt="img" class="az_single_image-img attachment-full"
                             height="35" src="../static/assets/images/logo-light.png" width="150">
                    </div>
                    <div class="hs-listitem style-02">
                        <div class="listitem-inner">
                            <ul class="listitem-list">
                                <li>
                                    <span class="icon"><span class="flaticon-localization"></span></span>
                                    45 Grand Central Terminal New York,NY 1017 United State USA
                                </li>
                                <li>
                                    <a href="mailto:contact@yourcompany.com" target="_self">
                                        <span class="icon"><span class="flaticon-email"></span></span>
                                        contact@yourcompany.com </a>
                                </li>
                                <li>
                                    <span class="icon"><span class="flaticon-telephone"></span></span>
                                    (+123) 456 789 - (+204) 666 888
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="hs-listitem style-02 ">
                        <div class="listitem-inner">
                            <h4 class="title">
                                Customer </h4>
                            <ul class="listitem-list">
                                <li>
                                    <a href="#" target=" _blank">
                                        Shipping &amp; Returns </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Secure Shopping </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Order Status </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        International Shipping </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Affiliates </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="hs-listitem style-02">
                        <div class="listitem-inner">
                            <h4 class="title">
                                Information </h4>
                            <ul class="listitem-list">
                                <li>
                                    <a href="#" target="_self">
                                        Privacy Policy </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Customer Service </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Orders and Returns </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Contact </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Sitemap </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="hs-newsletter style-02">
                        <div class="newsletter-inner">
                            <div class="newsletter-info">
                                <div class="newsletter-wrap">
                                    <h3 class="title">Newsletter</h3>
                                    <h4 class="subtitle">Get Discount 30% Off</h4>
                                    <p class="desc">Nam sed felis at eros blandit ultrices et quis quam. In sit amet
                                        molestie lectus.</p>
                                </div>
                            </div>
                            <div class="newsletter-form-wrap">
                                <div class="newsletter-form-inner">
                                    <input class="email email-newsletter" name="email"
                                           placeholder="Enter your email ..." type="email">
                                    <a class="button btn-submit submit-newsletter" href="#">
                                        <span class="text">Subscribe</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-010">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Copyright 2020 <a href="#">Furgan</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <div class="hs-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="https://facebook.com" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a href="index.html">
                    <span class="icon">
                        <i aria-hidden="true" class="fa fa-home"></i>
                    </span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a href="wishlist.html">
                    <span class="icon">
                        <i aria-hidden="true" class="fa fa-heart"></i>
                    </span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="cart.html">
                    <span class="icon">
                        <i aria-hidden="true" class="fa fa-shopping-basket"></i>
                        <span class="count-icon">
                            0
                        </span>
                    </span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a href="my-account.html">
                    <span class="icon">
                        <i aria-hidden="true" class="fa fa-user"></i>
                    </span>
                Account
            </a>
        </div>
    </div>
</div>
<a class="backtotop active" href="#">
    <i class="fa fa-angle-double-up"></i>
</a>
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<script src="../static/assets/js/plugins.min.js"></script>
<script src="../static/assets/js/functions.js"></script>
</body>

</html>